body {
  background-color: blueviolet;
}
div:hover {
  display: block;
  background-color: #ffffff;
  text-align: center;
}
h1 {
  font: small;
  font-family: Arial, Helvetica, sans-serif;
}
nav {
  padding: 50px;
}
a {
  padding: 50px;
}
ul {
  list-style-type: square;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ol {
  list-style-type: decimal;
}
ul li {
  list-style-type: circle;
  border: cyan;
}
p {
  color: bisque;
  font: large;
}
nav.hi {
  display: inline;
}

#k69 {
  width: 100px;
  height: 100px;
}
